<% include shared/header %>
    
    <div>
        <form action="/login">
            <label>Username/Email: </label>
            <input type="text" id="User" name="username">
            <label>Password: </label>
            <input type="password" id="Password" name="password">
        </form>
    </div>

<% include shared/footer %>